<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Editar Empresa</title>
</head>

<body>
  <h1>Editar Empresa</h1>
  <form th:action="@{/empresas/editar/{id}(id=${empresa.id})}" th:object="${empresa}" method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" th:field="*{nome}" />
    <br />
    <label for="cnpj">CNPJ:</label>
    <input type="text" id="cnpj" th:field="*{cnpj}" />
    <br />
    <label for="contato">Contato:</label>
    <input type="text" id="contato" th:field="*{contato}" />
    <br />
    <button type="submit">Salvar</button>
  </form>
  <a href="/empresas">Voltar</a>
</body>

</html>