<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Lista de Empresas</title>
</head>

<body>
  <h1>Empresas</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CNPJ</th>
        <th>Contato</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="empresa : ${empresas}">
        <td th:text="${empresa.id}">ID</td>
        <td th:text="${empresa.nome}">Nome</td>
        <td th:text="${empresa.cnpj}">CNPJ</td>
        <td th:text="${empresa.contato}">Contato</td>
        <td>
          <a th:href="@{'/empresas/' + ${empresa.id}}">Detalhes</a>
        </td>
      </tr>
    </tbody>
  </table>
  <a href="/empresas/nova">Nova Empresa</a>
</body>

</html>