<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Formulário de Cliente</title>
</head>

<body>
  <h1>Formulário de Cliente</h1>
  <form th:action="@{/clientes}" th:object="${cliente}" method="post">
    <label for="nome">Nome:</label>
    <input type="text" th:field="*{nome}" />
    <br />
    <label for="email">Email:</label>
    <input type="text" th:field="*{email}" />
    <br />
    <!-- Outros campos aqui -->
    <button type="submit">Salvar</button>
  </form>
  <a href="/clientes">Voltar</a>
</body>

</html>