<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Lista de Clientes</title>
</head>

<body>
  <h1>Clientes</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="cliente : ${clientes}">
        <td th:text="${cliente.id}">ID</td>
        <td th:text="${cliente.nome}">Nome</td>
        <td th:text="${cliente.email}">Email</td>
        <td>
          <a th:href="@{'/clientes/' + ${cliente.id}}">Detalhes</a>
        </td>
      </tr>
    </tbody>
  </table>
  <a href="/clientes/novo">Novo Cliente</a>
</body>

</html>