<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Criar Cliente</title>
</head>

<body>
  <h1>Criar Cliente</h1>
  <form th:action="@{/clientes/novo}" th:object="${clienteRequestDTO}" method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" th:field="*{nome}" />
    <br />
    <label for="email">Email:</label>
    <input type="text" id="email" th:field="*{email}" />
    <br />
    <label for="password">Senha:</label>
    <input type="password" id="password" th:field="*{password}" />
    <br />
    <label for="escolaridade">Escolaridade:</label>
    <select id="escolaridade" th:field="*{escolaridade}">
      <option th:each="escolaridade : ${escolaridades}" th:value="${escolaridade}"
        th:text="${escolaridade.getDescricao()}"></option>
    </select>
    <br />
    <label for="estadoCivil">Estado Civil:</label>
    <select id="estadoCivil" th:field="*{estadoCivil}">
      <option th:each="estadoCivil : ${estadosCivis}" th:value="${estadoCivil}" th:text="${estadoCivil.getDescricao()}">
      </option>
    </select>
    <br />
    <label for="genero">Gênero:</label>
    <select id="genero" th:field="*{genero}">
      <option th:each="genero : ${generos}" th:value="${genero}" th:text="${genero.getDescricao()}"></option>
    </select>
    <br />
    <button type="submit">Salvar</button>
  </form>
  <a href="/clientes">Voltar</a>
</body>

</html>