<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="#{greeting}">Login</title>
</head>

<body>
  <h1 th:text="#{welcome.message}">Welcome!</h1>
  <form action="#" th:action="@{/login}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" />
    <br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" />
    <br />
    <button type="submit" th:text="#{login}">Login</button>
  </form>
</body>

</html>